div{
    box-sizing: border-box;
}

body {
     display:flex;
     justify-content:center;
     padding:0px 20px;
     font-family:helvetica;
}

#wrapper {
     width:600px;
     max-width:100%;
}

#logo {
     display:block;
     margin:50px auto;
     width:400px;
}

#descriere {
     font-size:16px;
     margin-bottom:40px;
}

input[type="text"],
input[type="date"]  {
     width:100%;
     margin-bottom:20px;
     margin-top:2px;
     height:30px;
}

input[type="submit"]  {
     background-color:#79FF;
     color:white;
     border:none;
     padding:10px 50px;
     margin:50px 0px;
}

textarea {
     width:100%;
     height:140px;
     resize:none;
     padding:15px;
     box-sizing:border-box;
     font-family:helvetica;
}

.lista {
     margin-top:30px;
}