Body {
    background-color: white;
    margin: 1%;
    padding: 1%;
}

.logo {
    margin-left: 4%;
}

.language {
    float: right;
    margin-right: 1%;
}

.menu-bar {
    background: rgba(0, 140, 255, 0.897);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgba(0, 140, 255, 0.897);
}

.menu-bar ul li {
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}

.active, .menu-bar ul li:hover {
    background: rgba(0, 140, 255, 0.897);
    border-radius: 3px;
}

.sub-menu {
    display: none;
}

.menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background: rgba(0, 140, 255, 0.897);
    margin-top: 2%;
    margin: 2%;
}

.menu-bar ul li:hover .sub-menu ul {
    display: block;
    margin: 2%;
} 

.menu-bar ul li:hover .sub-menu ul li {
    width: 80%;
    padding: 5%;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu ul li a:hover {
    color: black;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: Black;
    color: white;
    text-align: center;
    
 }

 .img-footer{
     margin-top: 1%;
 }

 /* descriere */
 .descriere {
     margin-left: 15%;
     margin-right: 15%;
     font-size: 25px;
 }